.footer
{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-top: 3px white solid;
    margin-top: auto;
}

.footer-text
{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}