.title
{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.light
{
    color: black;
    background-color: white;
    border-color: black;
}

hr
{
    width: 25%;
    border-bottom: 1px white solid;
    margin-top: 10px;
}

